<?xml version="1.0"?>
<configuration>
  <startup useLegacyV2RuntimeActivationPolicy="true">
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0" />
  </startup>
  <appSettings>
    <!-- General configuration -->
    <add key="Host" value="127.0.0.1" />
    <add key="Port" value="9111" />
    <add key="Name" value="Meteor" />
    <add key="ServerId" value="1337" />
    
    <!-- Versions -->
    <add key="MainVersion" value="2" />
    <add key="MajorVersion" value="1" />
    <add key="MinorVersion" value="373" />
    
    <!-- SQL Host -->
    <add key="SqlHost" value="127.0.0.1" />
    <add key="SqlUser" value="root" />
    <add key="SqlPass" value="" />
    <add key="SqlBase" value="meteor" />
    
    <!-- Path -->
    <add key="AddonsPath" value="gameres\addons" />
    
    <!-- Start information -->
    <add key="StartMapId" value="1" />
    <add key="StartPosX" value="622" />
    <add key="StartPosY" value="230" />
    <add key="StartPosZ" value="623" />
  
  </appSettings>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
</configuration>